<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>Opublikowano: 17.11.2019, 17:19</p>
            <h2><a href="">Pierwszy post</a></h2>
            <p>Akademia Marynarki Wojennej im. Bohaterów Westerplatte – uczelnia publiczna, której siedziba zlokalizowana jest w Gdyni, w Polsce. Założona została w 1922 roku.</p>
        </div>

        <div>
            <p>Opublikowano: 17.11.2019, 17:19</p>
            <h2><a href="">Drugi post</a></h2>
            <p>Placówka nadzorowana jest przez Ministra Obrony Narodowej. Kształci podchorążych, oficerów oraz cywili na kierunkach związanych z nawigacją i mechaniką morską oraz obronnością.</p>
        </div>
    </body>
    </body>
</html>